<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="#" th:action="@{/calculadora/submit}" th:object="${calc}" method="post">"
		<label>Numero 1</label>
		<input th:field="*{number1}" type="number" name="number1" id="number1" step="0.01" required placeholder="Number 1">
		<br>
		<label>Operacion</label>
		<select th:field="*{operation}" name="operation" id="operation">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<br>
		<label>Numero 2</label>
		<input th:field="*{number2}" type="number" name="number2" id="number2" step="0.01" required placeholder="Number 2">
		<br>
		<input type="submit">
	</form>

</body>
</html>